@{
    ViewBag.Title = "Главная";
}

<main>
    <h4 style="text-align: center">
        Веб-приложение для удобного управления процессом выдачи и возврата книг в библиотеке.
    </h4>

    <a class="btn btn-lg btn-dark fw-bold border-white bg-gradient" href="@Url.Action("Create", "User")">Добавить пользователя</a>
    <br />
    <a class="btn btn-lg btn-dark fw-bold border-white bg-gradient" href="@Url.Action("Create", "Book")">Добавить книгу</a>
    <br />
    <a class="btn btn-lg btn-dark fw-bold border-white bg-gradient" href="@Url.Action("Create", "Loan")">Выдать книгу</a>
</main>